<<<<<<< HEAD

$header-font: Playfair Display, serif;
$paragh: Raleway, sans-serif;
$brand-green: #6de881;

nav{
	margin-bottom: 0px !important;
}

.mlogo{
	width: 100px;
	margin-top: 10px;
	margin-left: 100px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	border-bottom: 5px solid #6de881;
	background: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	border-bottom: 5px solid #6de881;
	background: transparent;
}

.navbar-nav{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    float: none;
}

.nav{
	a:focus{
		color: red;
	}
	a:hover{
		border-bottom: 5px solid #6de881;
		background: transparent;
	}
	a:visited{
		border-bottom: 5px solid #6de881;
		background: transparent;
	}
	a:focus{
		border-bottom: 5px solid #6de881;
		background: transparent;
	}
}

.nav>li>a{
	padding: 15px 30px;
}

.white-header-divide{
	width: 60px;
    border: 2px solid #ffffff;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 40px;
}

.header-divide{
	width: 60px;
    border: 2px solid #616161;
    margin: 0 auto;
    margin-top: 14px;
}

.navbar{
	background-color: #ffffff;
	box-shadow: 1px 3px 29px -3px rgba(0, 0, 0, 0.08);
	border-color: rgba(231, 231, 231, 0.59) !important;
	border: 0px solid transparent;
}


.the-row{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}
.other-row{
	@extend .the-row;
	padding: 50px 0px;
}


.banner{
	background: #A8ACA8;
	background-image: url(../img/bg.jpg);
	background-position: right;
	margin-top: 50px;
	position: relative;

	.banner-overlay{
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background: rgba(0, 0, 0, 0.67);
	}

	h2{
		font-weight: 600;
		margin-bottom: 10px;
		font-family: $header-font;
		font-weight: 700;
		color: #ffffff;
	    font-size: 55px;
	    line-height: 1.2;
	}

	p{
		font-size: 18px;
		font-family: $paragh;
		font-weight: 400;
		color: #ffffff;
	    line-height: 1.45;
	}

	.phone-img{
		width: 600px;
	}

	.signup-btn{
	    background: #6de881;
	    border-radius: 50px;
	    padding: 14px 30px;
	    width: 210px;
	    margin-top: 20px;
	    font-size: 19px;
        box-shadow: 2px 3px 34px -5px rgba(0, 0, 0, 0.38);
	    border: 1px solid rgba(14, 14, 14, 0.42);
	    transition: 0.5s all ease-in;
	    color: #ffffff;
	}

	.signup-btn:hover{
		background: #ffffff;
		transition: 0.5s all ease-out;
		color: #000000;
        box-shadow: 2px 6px 27px -3px rgba(0, 0, 0, 0.38);
	}

	.banner-inner{
		display: flex;
		align-items: center;
	}
}

.second-sect{
	background: #f7f7f7;

	.second-sect-img{
		text-align: center;

		img{
			width: 400px;
		}
	}

	.why-chekkit{
	    text-align: center;
	    font-size: 40px !important;
	    margin-top: 70px;
	    color: #404040 !important;
	}

	.features{
		h2{
			font-size: 20px;
			font-weight: 600;
			color: $brand-green;
			font-family: $header-font;
			font-weight: 700;
			letter-spacing: 0.2px;
		}

		p{
			color: #777777;
			font-family: $paragh;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
		}
	}

	.left-features{
		text-align: left;

		.feature-info-icon{
			display: flex;
		    align-items: flex-start;

		    .feature-icon{
		    	margin-top: 25px;
		    	margin-right: 20px;
		    	img{
		    		width: 45px;
		    	}
		    }
		}
	}

	.right-features{
		text-align: right;

		.feature-info-icon{
			display: flex;
		    align-items: flex-start;
		    margin-bottom: 20px;

		    .feature-icon{
		    	margin-top: 25px;
		    	margin-left: 20px;
		    	img{
		    		width: 45px;
		    	}
		    }
		}
	}

}

.third-sect{
	/*background: #6DE881;*/
	background: linear-gradient(90deg, #6DE881, #8ae9e9);

	.last-phone{
		text-align: right;
	}

	img{
		width: 380px;
	}

	h2{
		color: #ffffff;
		font-family: $header-font;
		margin-left: 15px;
		/*margin-bottom: 50px;*/
		text-align: center;
		font-size: 38px;
		font-weight: 700;
		letter-spacing: 1.2px;
	}

	form{
		text-align: center;
	}

	.input-section{
		input{
			width: 80%;
		    padding: 10px;
		    margin-bottom: 18px;
		    background: transparent;
		    border: 0px;
		    border-bottom: 2px solid #ffffff;
		    outline-color: transparent;
		    color: #505050;
		}

		select{
		    width: 80%;
		    padding: 10px;
		    margin-bottom: 18px;
		    background: transparent;
		    border: 0px;
		    border-bottom: 2px solid #ffffff;
		    color: #505050;
		    letter-spacing: 0.2px;
		    outline-color: transparent;
		}

		input::placeholder{
			color: #505050;
			letter-spacing: 0.2px;
			font-size: 14px;
		}
	}

	.register-btn-parent{
		.register-btn{
		    color: #fff;
		    background-color: #6de881;
		    border-color: #6de881;
		    padding: 17px;
		    width: 60%;
		    border-radius: 80px;
		    letter-spacing: 0.5px;
		    margin-top: 25px;
		}
	}

	.social-media{
		margin-top: 30px;

		i{
		    font-size: 20px;
		    background: rgba(66, 179, 132, 0.57);
		    width: 30px;
		    height: 30px;
		    border-radius: 50px;
		    padding-top: 6px;
		    color: #ffffff;
		    margin-right: 20px;
		}
	}
}

.partner-sect{
	text-align: center;
	padding: 50px 0px;
	background: #f7f7f7;

	h2{
		font-family: $header-font;
		font-weight: 700;
		font-size: 40px;
		color: #404040;
	}

	img{
		width: 200px;
		margin-top: 40px;
	}
}

footer{
	text-align: center;
	background: #ececec;
	p{
		margin: 0px;
		padding: 10px;
		font-weight: 400;
		font-family: $paragh;
	}
}


@media only screen and (max-width: 1366px) {
    /* For smaller screen Resolutioins phones: */
    .the-row{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 20px 0px;
	}

	.other-row{
		padding: 70px 0px;
	}

    .banner{
    	.phone-img{
			width: 520px;
		}
    }

    .second-sect{
		.second-sect-img{
			img{
				width: 320px;
			}
		}
	}

	.third-sect{
		img{
			width: 320px;
		}
	}


}

@media only screen and (max-width: 420px){
	.the-row{
		display: block;
		align-items: normal;
		justify-content: normal;
	}

	.other-row{
		display: block;
		align-items: normal;
		justify-content: normal;
	}

	.banner{
		.banner-inner{
			display: block;
			align-items: normal;
		}

		.banner-info{
			text-align: center;
		}

		.phone-img{
			width: 100%;
		}
	}

	.second-sect{
		.left-features{
			.feature-info-icon{
				text-align: center;
				display: block;
				align-items: center;
			}
		}

		.right-features{
			.feature-info-icon{
				display: block;
				align-items: normal;
				text-align: center;
				position: relative;
				margin-top: 100px;

				.feature-icon{
					position: absolute;
					top: -60px;
					margin: 0px;
					left: 0px;
					right: 0px;

				}
			}
		}

		.second-sect-img{
			text-align: center;

			img{
				width: 100%;
			}
		}
	}

	.third-sect{
		img{
			width: 100%;
		}
	}
=======

$header-font: Playfair Display, serif;
$paragh: Raleway, sans-serif;
$brand-green: #6de881;

nav{
	margin-bottom: 0px !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	border-bottom: 5px solid #6de881;
	background: transparent;
}

.nav>li>a{
	padding: 15px 30px;
}

.white-header-divide{
	width: 60px;
    border: 2px solid #ffffff;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 40px;
}

.header-divide{
	width: 60px;
    border: 2px solid #616161;
    margin: 0 auto;
    margin-top: 14px;
}

.navbar{
	background-color: #ffffff;
	box-shadow: 1px 3px 29px -3px rgba(0, 0, 0, 0.08);
	border-color: rgba(231, 231, 231, 0.59) !important;
	border: 0px solid transparent;
}


.the-row{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}
.other-row{
	@extend .the-row;
	padding: 50px 0px;
}


.banner{
	background: #A8ACA8;
	background-image: url(../img/bg.jpg);
	background-position: right;
	margin-top: 50px;
	position: relative;

	.banner-overlay{
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background: rgba(0, 0, 0, 0.67);
	}

	h2{
		font-weight: 600;
		margin-bottom: 10px;
		font-family: $header-font;
		font-weight: 700;
		color: #ffffff;
	    font-size: 55px;
	    line-height: 1.2;
	}

	p{
		font-size: 18px;
		font-family: $paragh;
		font-weight: 400;
		color: #ffffff;
	    line-height: 1.45;
	}

	.phone-img{
		width: 600px;
	}

	.signup-btn{
	    background: #6de881;
	    border-radius: 50px;
	    padding: 14px 30px;
	    width: 210px;
	    margin-top: 20px;
	    font-size: 19px;
        box-shadow: 2px 3px 34px -5px rgba(0, 0, 0, 0.38);
	    border: 1px solid rgba(14, 14, 14, 0.42);
	    transition: 0.5s all ease-in;
	    color: #ffffff;
	}

	.signup-btn:hover{
		background: #ffffff;
		transition: 0.5s all ease-out;
		color: #000000;
        box-shadow: 2px 6px 27px -3px rgba(0, 0, 0, 0.38);
	}

	.banner-inner{
		display: flex;
		align-items: center;
	}
}

.second-sect{
	background: #f7f7f7;

	.second-sect-img{
		text-align: center;

		img{
			width: 400px;
		}
	}

	.why-chekkit{
	    text-align: center;
	    font-size: 40px !important;
	    margin-top: 70px;
	    color: #404040 !important;
	}

	.features{
		h2{
			font-size: 20px;
			font-weight: 600;
			color: $brand-green;
			font-family: $header-font;
			font-weight: 700;
			letter-spacing: 0.2px;
		}

		p{
			color: #777777;
			font-family: $paragh;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
		}
	}

	.left-features{
		text-align: left;

		.feature-info-icon{
			display: flex;
		    align-items: flex-start;

		    .feature-icon{
		    	margin-top: 25px;
		    	margin-right: 20px;
		    	img{
		    		width: 45px;
		    	}
		    }
		}
	}

	.right-features{
		text-align: right;

		.feature-info-icon{
			display: flex;
		    align-items: flex-start;
		    margin-bottom: 20px;

		    .feature-icon{
		    	margin-top: 25px;
		    	margin-left: 20px;
		    	img{
		    		width: 45px;
		    	}
		    }
		}
	}

}

.third-sect{
	/*background: #6DE881;*/
	background: linear-gradient(90deg, #6DE881, #8ae9e9);

	.last-phone{
		text-align: right;
	}

	img{
		width: 380px;
	}

	h2{
		color: #ffffff;
		font-family: $header-font;
		margin-left: 15px;
		/*margin-bottom: 50px;*/
		text-align: center;
		font-size: 38px;
		font-weight: 700;
		letter-spacing: 1.2px;
	}

	form{
		text-align: center;
	}

	.input-section{
		input{
			width: 80%;
		    padding: 10px;
		    margin-bottom: 18px;
		    background: transparent;
		    border: 0px;
		    border-bottom: 2px solid #ffffff;
		    outline-color: transparent;
		    color: #505050;
		}

		select{
		    width: 80%;
		    padding: 10px;
		    margin-bottom: 18px;
		    background: transparent;
		    border: 0px;
		    border-bottom: 2px solid #ffffff;
		    color: #505050;
		    letter-spacing: 0.2px;
		    outline-color: transparent;
		}

		input::placeholder{
			color: #505050;
			letter-spacing: 0.2px;
			font-size: 14px;
		}
	}

	.register-btn-parent{
		.register-btn{
		    color: #fff;
		    background-color: #6de881;
		    border-color: #6de881;
		    padding: 17px;
		    width: 60%;
		    border-radius: 80px;
		    letter-spacing: 0.5px;
		    margin-top: 25px;
		}
	}

	.social-media{
		margin-top: 30px;

		i{
		    font-size: 20px;
		    background: rgba(66, 179, 132, 0.57);
		    width: 30px;
		    height: 30px;
		    border-radius: 50px;
		    padding-top: 6px;
		    color: #ffffff;
		    margin-right: 20px;
		}
	}
}

.partner-sect{
	text-align: center;
	padding: 50px 0px;
	background: #f7f7f7;

	h2{
		font-family: $header-font;
		font-weight: 700;
		font-size: 40px;
		color: #404040;
	}

	img{
		width: 200px;
		margin-top: 40px;
	}
}

footer{
	text-align: center;
	background: #ececec;
	p{
		margin: 0px;
		padding: 10px;
		font-weight: 400;
		font-family: $paragh;
	}
}


@media only screen and (max-width: 1366px) {
    /* For smaller screen Resolutioins phones: */
    .the-row{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 20px 0px;
	}

	.other-row{
		padding: 70px 0px;
	}

    .banner{
    	.phone-img{
			width: 520px;
		}
    }

    .second-sect{
		.second-sect-img{
			img{
				width: 320px;
			}
		}
	}

	.third-sect{
		img{
			width: 320px;
		}
	}


>>>>>>> 59c2d36d2a97fd78c0f815702fda77d668d60652
}